/*start reset style*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
 caption, tbody, tfoot, thead{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
body {
	background:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:62.5%;
	margin:0 auto;
	color:#333333;
}


.fontstyle{
	background:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;

	color:#333333;
}
/* remember to define focus styles! */
:focus {
	/*outline: 0;*/
}
ul {
	list-style: none;
	margin:0;
	padding:0;
}
/* tables still need 'cellspacing="0"' in the markup */
/*end reset style*/