{% extends "blank.html" %}
   {%block title%}
   Projects
   {% endblock %}
    {%block head_content %}
  <script type="text/javascript">
  
  </script>
  {% endblock %}
  {% block main_content %}
          <section class="wrapper">
          <center>
          	<h3>
          	<!-- <i class="fa fa-angle-right"></i> --> 
          	{{CourseCode}}{{CourseName}}<br>{{SemesterNumber}} Semester {{SessionYear}}<br><br>Mid-Semester Evaluation</h3></center>
		  		<div class="row mt">
			  		<div class="col-lg-12">
                      <div class="content-panel">
                      <!-- <h4><i class="fa fa-angle-right"></i> Responsive Table</h4> -->
                          <section id="unseen">
                            <table class="table table-bordered table-striped table-condensed">
                              <thead>
                              <tr>
                                  <th>IDNo.</th>
                                  <th>Name</th>
                                  <th class="numeric">Regularity in<br> Interaction<br> with mentor</th>
                                  <th class="numeric">Project work <br>Viva -1</th>
                                  <th class="numeric">Project work<br> Viva -2</th>
                                  <th class="numeric">Weekly <br>Report/document<br> submission</th>
                                  <th class="numeric">Mid <br>semester<br> viva</th>
                                  <th class="numeric">Mid <br>semester<br> report</th>
                                  <th class="numeric">Total Marks</th>
                                  <th>Suggested <br>Mid-semester<br> Grade</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                  <td><a href="">2012C6PS392P</a></td>
                                  <td><a href="">Prateek Jain</a></td>
                                  <td class="numeric"><input type="text" id="midregularityMentor101" value = "0" disabled="" onchange="abc('101')"></td>
                                  <td class="numeric"><input type="text" id="projectViva1101" value = "0" disabled="" onchange="abc('101')"></td>
                                  <td class="numeric"><input type="text" id="projectViva2101" value = "0" disabled="" onchange="abc('101')"></td>
                                  <td class="numeric"><input type="text" id="weekdocumentSubmission101" value = "0" disabled="" onchange="abc('101')"></td>
                                  <td class="numeric"><input type="text" id="midsemViva101" value = "0" disabled="" onchange="abc('101')"></td>
                                  <td class="numeric"><input type="text" id="midsemReport101" value = "0" disabled="" onchange="abc('101')"></td>
				  <td class="numeric"><label id="midsemTotal101">0</label></td>
                                  <td><select id="midsemGrade101" disabled="">
                                  <option value="A">A</option>
                                  <option value="A-">A-</option>
                                  <option value="B">B</option>
                                  <option value="B-">B-</option>
                                  <option value="C">C</option>
                                  <option value="C-">C-</option>
                                  <option value="D">D</option>
                                  <option value="E">E</option>
                                  </select></td>
                                  {% if category == 1 %}
                                  <td><input type="submit" id="edit101" value="edit" onclick="edit('101')"><input id="save101" type="submit" value="Save" style="display:none" onclick="saveData('101')" ></td>
                              {% endif %}
                              </tr>
                              </tbody>
                          </table>
                          </section>
                  </div><!-- /content-panel -->
               </div><!-- /col-lg-4 -->			
		  	</div><!-- /row -->
		  	<br><br>
		  	<center>
          	<h3>
          	<!-- <i class="fa fa-angle-right"></i> --> 
          	End-Semester Evaluation</h3></center>
		  		<div class="row mt">
			  		<div class="col-lg-12">
                      <div class="content-panel">
                      <!-- <h4><i class="fa fa-angle-right"></i> Responsive Table</h4> -->
                          <section id="unseen">
                            <table class="table table-bordered table-striped table-condensed">
                              <thead>
                              <tr>
                                  <th>IDNo.</th>
                                  <th>Name</th>
                                  <th class="numeric">Regularity in interaction<br> with mentor</th>
                                  <th class="numeric">Project work viva III/IV</th>
                                  <th class="numeric">Final Seminar</th>
                                  <th class="numeric">Final report/document<br> submission</th>
                                  <th class="numeric">Total Marks<br>( including <br>Mid Sem marks )</th>
                                  <th class="numeric">Suggested <br>Final Grade</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                  <td><a href="">2012C6PS392P</a></td>
                                  <td><a href="">Prateek Jain</a></td>
                                  <td class="numeric"><input type="text" id="endregularityMentor101" value = "0" disabled="" onchange="abc('101')"></td>
                                  <td class="numeric"><input type="text" id="projectViva34101" value = "0" disabled="" onchange="abc('101')"></td>
                                  <td class="numeric"><input type="text" id="finalSeminar101" value = "0" disabled="" onchange="abc('101')"></td>
                                  <td class="numeric"><input type="text" id="finaldocumentSubmission101" value = "0" disabled="" onchange="abc('101')"></td>
                                  <td class="numeric"><label id="Total101">0</label></td>
                                  <td><select id="endsemGrade101" disabled="">
                                  <option value="A">A</option>
                                  <option value="A-">A-</option>
                                  <option value="B">B</option>
                                  <option value="B-">B-</option>
                                  <option value="C">C</option>
                                  <option value="C-">C-</option>
                                  <option value="D">D</option>
                                  <option value="E">E</option>
                                  </select></td>
                                  {% if category == 1 %}
                                  <td><input type="submit" id="edit2101" value="edit" onclick="edit2('101')"><input id="save2101" type="submit" value="Save" style="display:none" onclick="saveData2('101')" ></td>
                              {% endif %}
                              </tr>
                              </tbody>
                          </table>
                          </section>
                  </div><!-- /content-panel -->
               </div><!-- /col-lg-4 -->			
		  	</div><!-- /row -->

		</section><!--/wrapper -->
    {% endblock %}
