{%extends 'blank.html'%}
{%block title%}App Settings{%endblock%}
{%block head_content %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
 <script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	var len = parseInt("{{count}}");
	for(var i=1;i<=len;i++){
    $("#close"+i).datepicker({ minDate: "+1D", maxDate: "+9M" });
        $("#start"+i).datepicker({ minDate: "+1D", maxDate: "+9M" });
}
});
function submitData(id){
	if(validate(id)){
	$.getJSON('/appSetting/OnOff', {appID:id,start:document.getElementsByName('start'+id)[0].value,end:document.getElementsByName('end'+id)[0].value}, function(data, jqXHR){
    if(data[0]==='OK'){
       alert('Successfully submitted');
       $('#dismis').click();
}else{
  alert('Error!!!!!!!!!!!!!!!!!');
}
});
}else{
	alert("Fill the blanks first!!!!");
}
}
function validate(id){
	if(document.getElementsByName('start'+id)[0].value=="" ||document.getElementsByName('end'+id)[0].value==""){
		return false;
	}
	return true;
}

</script>
{%endblock%}
{%block main_content%}
<section class="wrapper">
<br><br>
        <table class="table table-bordered table-striped table-condensed">
                   <thead><tr><th>Application Name</th><th>Starting Date</th><th>Closing Date</th></tr></thead>
        
                   <tbody>
{% for i in AppData %}
                   <tr><td>{{i.1}}</td><td><input type="text" id="start{{forloop.counter}}" name="start{{i.0}}" value="{{i.2}}"></td><td><input type="text" id="close{{forloop.counter}}" name="end{{i.0}}" value="{{i.3}}"></td><td><input type="submit" id="set" onclick="submitData({{i.0}})"></td></tr>
                   
{%endfor%}
                   </tbody>
                   </table>
                   ***the dates in (MM/dd/yyyy) format
                   </section>
{%endblock%}