{%extends "blank.html"%}
{%block title%}Data by admin {%endblock%}
{%block head_content%}
<script type="text/javascript">
	$(document).ready(function(){
		var x = "{{status}}";
		if(x=="1"){
			alert("Success");

		}else if(x=="-1"){
			alert("Error"+"{{msg}}");
		}

	})

</script>
{%endblock%}
{%block main_content%}
<section class="wrapper">
<h4>Note: There are two formats. One insertion and other deletion. For insertion upload a txt of data in format "f20XXXXX;20XXAAPSXXXP;ABCD" and for deletion format : "f20XXXXX"</h4>
<form id="uploadForm" action="/uploadData/" method="post" enctype="multipart/form-data">{%csrf_token%}
	file (txt only): <input type="file" name="dataFile"> <br>
	operation: <select name="oper"><option>Data Insertion</option><option>Data Deletion</option></select><br>
		operation: <select name="userType"><option>Student</option><option>Faculty</option><option>Staff</option><option>All</option></select><br><br>
	<input type="submit" class="btn btn-success btn-lg" id="reportGen" value="submit">  
</form>
</section>

{%endblock%}