 {% extends "blank.html" %}
   {%block title%}
   Dissertation
   {% endblock %}
    {%block head_content %}
  <script type="text/javascript">
 
  </script>
  <style type="text/css">
input[type="text"]{
  width:20%;

}
  </style>
  {% endblock %}
  <!-- </head>

  <body>

  <section id="container" >
       -->
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      {% block main_content %}
    
          <section class="wrapper">
          <center>
            <h3>
            <!-- <i class="fa fa-angle-right"></i> --> 
            {{CourseCode}}{{CourseName}}<br>{{SemesterNumber}} Semester {{SessionYear}}<br><br>Evaluation</h3></center>
          <div class="row mt">
            <div class="col-lg-12">
                      <div class="content-panel">
                      <!-- <h4><i class="fa fa-angle-right"></i> Responsive Table</h4> -->
                          <section id="unseen">
                            <table class="table table-bordered table-striped table-condensed">
                              <thead>
                              <tr>
                                  <th>IDNo.</th>
                                  <th>Name</th>
                                  <th class="numeric">Viva-1</th>
                                  <th class="numeric">Mid Sem <br>Presentation</th>
                                  <th class="numeric">Mid Sem <br>Written Report</th>
                                  <th class="numeric">Viva -2</th>
                                  <th class="numeric">Final Dissertation</th>
                                  <th class="numeric">Final Viva</th>
                                  <th class="numeric">Total</th>
                                  <th>Recommended<br> Mid Sem<br> Grade</th>
                                  <th>Recommended <br>Final Grade</th>
                                  <!-- <th></th> -->
                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                  <td><a href="">2012C6PS392P</a></td>
                                  <td><a href="">Prateek Jain</a></td>
                                 <td class="numeric"><input type="text" id="viva1101" value = "0" disabled="" onchange="abc('101')"></td>
                                  <td class="numeric"><input type="text" id="midsemPresentation101" value = "0" disabled="" onchange="abc('101')"></td>
                                  <td class="numeric"><input type="text" id ="midsemReport101" value = "0" disabled="" onchange="abc('101')"></td>
                                  <td class="numeric"><input type="text" id = "viva2101" value = "0" disabled="" onchange="abc('101')"></td>
                                  <td class="numeric"><input type="text" id="finalDissertation101" value = "0" disabled="" onchange="abc('101')"></td>
                                  <td class="numeric"><input type="text" id="finalViva101" value = "0" disabled="" onchange="abc('101')"></td>
                                  <td class="numeric"><label id="Total101">0</label></td>
                                  <td><select id="midsemGrade101" disabled=""><option>A</option><option>A-</option><option>B</option><option>B-</option><option>C</option><option>C-</option><option>D</option><option>E</option></select></td>
                                  <td><select id="endsemGrade101" disabled=""><option>A</option><option>A-</option><option>B</option><option>B-</option><option>C</option><option>C-</option><option>D</option><option>E</option></select></td>
                                  {% if category == 1 or category == 4%}
                                  <td><input type="submit" id="edit101" value="edit" onclick="edit('101')"><input id="save101" type="submit" value="Save" style="display:none" onclick="saveData('101')" ></td>
                                  {% endif %}
                              </tr>
                              </tbody>
                          </table>
                          </section>
                  </div><!-- /content-panel -->
               </div><!-- /col-lg-4 -->     
        </div><!-- /row -->
        <br><br>
    <center>
            <h3>
            <!-- <i class="fa fa-angle-right"></i> --> 
           <br><br>Student's Traits Evaluation</h3></center>
          <div class="row mt">
            <div class="col-lg-12">
                      <div class="content-panel">
                      <!-- <h4><i class="fa fa-angle-right"></i> Responsive Table</h4> -->
                          <section id="unseen">
                            <table class="table table-bordered table-striped table-condensed">
                              <thead>
                              <tr>
                                  <th>IDNo.</th>
                                  <th>Name</th>
                                  <th class="numeric">Work progress and achievement</th>
                                  <th class="numeric">Technical/Professional Competence</th>
                                  <th class="numeric">Documentation and expression</th>
                                  <th class="numeric">Initiative and originality</th>
                                  <th class="numeric">Puntuality</th>
                                  <th class="numeric">Reliability</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                  <td><a href="">2012C6PS392P</a></td>
                                  <td><a href="">Prateek Jain</a></td>
                                  <td><select id="workProgress101" disabled=""><option>A</option><option>A-</option><option>B</option><option>B-</option><option>C</option><option>C-</option><option>D</option><option>E</option></select></td>
                                  <td><select id="technicalCompetence101" disabled=""><option>A</option><option>A-</option><option>B</option><option>B-</option><option>C</option><option>C-</option><option>D</option><option>E</option></select></td>
                                  <td><select id="documentation101" disabled=""><option>A</option><option>A-</option><option>B</option><option>B-</option><option>C</option><option>C-</option><option>D</option><option>E</option></select></td>
                                  <td><select id="initiative101" disabled=""><option>A</option><option>A-</option><option>B</option><option>B-</option><option>C</option><option>C-</option><option>D</option><option>E</option></select></td>
                                  <td><select id="puntuality101" disabled=""><option>A</option><option>A-</option><option>B</option><option>B-</option><option>C</option><option>C-</option><option>D</option><option>E</option></select></td>
                                  <td><select id="reliability101" disabled=""><option>A</option><option>A-</option><option>B</option><option>B-</option><option>C</option><option>C-</option><option>D</option><option>E</option></select></td>
                                  {% if category == 1 or category == 4 %}
                                  <td><input type="submit" id="edit2101" value="edit" onclick="edit2('101')"><input id="save2101" type="submit" value="Save" style="display:none" onclick="saveData2('101')" ></td>
                                  {% endif %}
                              </tr>
                              </tbody>
                          </table>
                          </section>
                  </div><!-- /content-panel -->
               </div><!-- /col-lg-4 -->     
        </div><!-- /row -->

    </section><!--/wrapper -->

    {% endblock %}
     
